<footer id="footer">
    <div id="social-media">
      <ul style="padding: 0">
        <li>
          <a href="https://facebook.com/groups/HackSocManc/">
            <img src="/images/social-media/facebook.svg" alt="Facebook">
          </a>
        </li>
        <li>
          <a href="https://github.com/hacksoc-manchester">
            <img src="/images/social-media/github.svg" alt="GitHub">
          </a>
        </li>
      </ul>
    </div>
    <% if (!locals.user) { %>
      <% include ./cookieDisclaimer.ejs %>
    <% } %>

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@id": "https://www.unicsmcr.com/#organization",
        "@type": "Organization",
        "name": "UniCS",
        "url": "https://www.unicsmcr.com/",
        "logo": "http://unicsmcr.com/images/logo.png",
        "sameAs": [
          "https://www.facebook.com/unicsmanchester/",
          "https://www.instagram.com/unics_uom"
        ]
      }
    </script>
  </footer>