<div id="header">
  <nav id="widescreen-menu">
      <ul>
        <!-- <li><a href="/jobs">Jobs</a></li> -->
        <li><a href="/team">Team</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <!-- <li><a href="/partners">Partners</a></li> -->
        <!-- <li><a href="/sign-up">Sign Up</a></li> -->
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <a id="widescreen-header-container" href="/">
      <header id="widescreen-header">
        <h1>HackSoc</h1>
        <h2>Student-led Tech Society</h2>
      </header>
    </a>
</div>