<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../../partials/head.ejs %>
    <title>CV Bank | HackSoc</title>
    <link rel="stylesheet" type="text/css" href="/css/sign-up.css" />
    <link rel="stylesheet" type="text/css" href="/css/cvBankLogin.css" />
</head>

<body>
  <div id="container">
    <% include ../../partials/navbar.ejs %>
    <% include ../../partials/header.ejs %>
      <div id="body">
        <section id="cv-bank-login">
          <h1>CV Bank</h1>
          <br>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-5">
                <h5>Upload a link to your CV on our CV bank and we will send it to our sponsors to check it out!</h5>
                <br>
                <p>Your CV will be sent out to these companies:</p>
                <div class="row justify-content-center">
                  <div class="col-lg-3">
                    <a href="http://www.accenture.com" target="_blank" rel="noopener noreferrer">
                      <img id="accenture-logo" class="sponsor-image" src="/images/sponsors/accenture.png" alt="Accenture">
                    </a>
                  </div>
                  <div class="col-lg-3">
                    <a href="http://www.bet365.com" target="_blank" rel="noopener noreferrer">
                      <img id="bet365-logo" class="sponsor-image" src="/images/sponsors/bet365.png" alt="bet365">
                    </a>
                  </div>
                  <div class="col-lg-3">
                    <a href="http://www.goldmansachs.com" target="_blank" rel="noopener noreferrer">
                      <img id="goldman-logo" class="sponsor-image" src="/images/sponsors/goldmansachs.png" alt="Goldman Sachs">
                    </a>
                  </div>
                </div>
                <div class="subscript">+ future sponsors</div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-5">
                <br><br>
                <h3>Login</h3>
                <br>
                <form method="post" action="/cv/login" class="needs-validation" novalidate>
                  <% if (locals.error) { %>
                    <div class="alert alert-danger">
                      <%= error %>
                    </div>
                    <% } %>
                      <div class="user-details">
                        <div class="input-group user-first-name full-width">
                          <input class="form-control" type="text" name="email" placeholder="Your Email" required>
                          <div class="invalid-feedback">
                            Please enter your email.
                          </div>
                        </div>
                        <div class="input-group user-last-name full-width">
                          <input class="form-control" type="password" name="password" placeholder="Your Password" required>
                          <div class="invalid-feedback">
                            Please enter your password.
                          </div>
                        </div>
                      </div>
                      <a href="/cv/passwordreset" class="subscript">Forgotten password?</a>
                      <div class="actions">
                        <input class="submit-button" type="submit" value="Login">
                      </div>
                      <a href="/cv/register" class="subscript"><b>Register</b></a>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
      <% include ../../partials/footer.ejs %>
  </div>
</body>
<script src="/js/formValidation.js"></script>

</html>