<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../../partials/head.ejs %>
    <title>CV Bank | HackSoc</title>
    <link rel="stylesheet" type="text/css" href="/css/sign-up.css" />
</head>

<body>
  <div id="container">
    <% include ../../partials/navbar.ejs %>
    <% include ../../partials/header.ejs %>
      <div id="body">
        <section id="cv-bank-login">
          <h1>CV Bank</h1>
          <h3>Password Reset</h3>
          <br><br>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-5">
                <form method="post" action="/cv/submission/passwordreset" class="needs-validation" novalidate>
                  <% if (locals.error) { %>
                    <div class="alert alert-danger">
                      <%= error %>
                    </div>
                    <% } %>
                    <p>Resetting  password for <%= locals.email %></p>
                      <div class="user-details">
                        <div class="input-group user-first-name full-width">
                          <input class="form-control" type="password" name="password" placeholder="Your New Password" required>
                          <div class="invalid-feedback">
                            Please enter your new password.
                          </div>
                        </div>
                      </div>
                      <div class="user-details">
                        <div class="input-group user-first-name full-width">
                          <input class="form-control" type="password" name="passwordConfirmation" placeholder="Confirm Your New Password" required>
                          <div class="invalid-feedback">
                            Please confirm your new password.
                          </div>
                        </div>
                      </div>
                      <input hidden type="text" name="email" value="<%= locals.email %>">
                      <input hidden type="text" name="emailToken" value="<%= locals.emailToken %>">
                      <div class="actions">
                        <input class="submit-button" type="submit" value="Submit">
                      </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
      <% include ../../partials/footer.ejs %>
  </div>
</body>
<script src="/js/formValidation.js"></script>

</html>