<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../../partials/head.ejs %>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <title>CV Bank | HackSoc</title>
    <link rel="stylesheet" type="text/css" href="/css/sign-up.css" />
</head>

<body>
  <div id="container">
    <% include ../../partials/navbar.ejs %>
      <div id="body">
        <section id="cv-bank-login">
          <h1>CV Bank</h1>
          <h3>Register</h3>
          <br><br>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-5">
                <form method="post" action="/cv/register" class="needs-validation" novalidate>
                  <% if (locals.error) { %>
                    <div class="alert alert-danger">
                      <%= error %>
                    </div>
                    <% } %>
                      <div class="user-details">
                        <div class="input-group user-first-name full-width">
                          <input class="form-control" type="text" name="firstName" placeholder="Your First Name" required>
                          <div class="invalid-feedback">
                            Please enter your first name.
                          </div>
                        </div>
                        <div class="input-group user-first-name full-width">
                          <input class="form-control" type="text" name="lastName" placeholder="Your Last Name" required>
                          <div class="invalid-feedback">
                            Please enter your last name.
                          </div>
                        </div>
                        <div class="input-group user-first-name full-width">
                          <input class="form-control" type="text" name="email" placeholder="Your Email" required>
                          <div class="invalid-feedback">
                            Please enter your email.
                          </div>
                        </div>
                        <div class="input-group user-last-name full-width">
                          <input class="form-control" type="password" name="password" placeholder="Your Password (min 6 characters)" required>
                          <div class="invalid-feedback">
                            Please enter your password.
                          </div>
                        </div>
                        <div class="input-group user-last-name full-width">
                          <input class="form-control" type="password" name="passwordConfirmation" placeholder="Confirm Your Password" required>
                          <div class="invalid-feedback">
                            Please confirm your password.
                          </div>
                        </div>
                      </div>
                      <div class="checkboxes">
                        <div class="checkbox" onclick="toggleCheckbox('privacy-checkbox')">
                          <div class="input-group">
                            <input class="form-check-input" id="privacy-checkbox" type="checkbox" name="agreeToPrivacyPolicy" checked onclick="toggleCheckbox('privacy-checkbox')"
                              required>
                            <div class="form-check-label">I agree to the <a href="/privacy" target="_blank" rel="noopener noreferrer">privacy policy</a></div>
                            <div class="invalid-feedback">
                              Please agree to our privacy policy.
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="actions">
                        <div class="g-recaptcha" data-sitekey="<%= recaptchaKey %>"></div>
                        <input class="submit-button" type="submit" value="Register">
                      </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
      <% include ../../partials/footer.ejs %>
  </div>
</body>
<script>
  // Toggles the value of the given checkbox
  function toggleCheckbox(checkboxId) {
    var checkbox = $("#" + checkboxId);

    checkbox.prop("checked", !checkbox.prop("checked"));
  }
</script>
<script src="/js/formValidation.js"></script>

</html>