.gender-button {
  cursor: pointer;
  padding: 10px 0;
  border: 1px solid #3d3d3d;
  border-radius: 5px;
}

.gender-button:hover, .selected-gender-button, .team-button:hover, .selected-team-button {
  background: #3d3d3d;
  color: #fff;
}

.team-button {
  cursor: pointer;
  width: 100%;
  padding: 10px 0;
  border: 1px solid #b8b8b8;
}