#container {
    height: 100%;
    padding: 0;
}

section {
    display: table;
    height: inherit;
    width: 100%;
    padding: 0;
}

#hero {
    background: url(images/overlay.png), url(images/header.jpg);
    background-size: auto, cover;
    background-position: top left, center center;
    background-repeat: repeat, no-repeat;
    box-shadow: inset 0px 0px 0px 50vh rgba(17, 17, 17, 0.9);
    background-color: #000;
}

#title {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

section>.row {
    height: 100%;
}

#about-us-content, #sponsors-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 120px;
    background: #fff;
}

#about-us-image {
    width: 100%;
    height: 100%;
    background: url("/images/index/hackathon.jpg") center;
    background-size: cover;
}

#about-us h2 {
    font-weight: 500;
}

#sponsors-logos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #efefef;
}

.flex-vertical {
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-horizontal {
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#sponsors-text {
    margin-bottom: 50px;
}

.sponsor-img {
    width: 250px;
}

#bet365-logo {
    position: relative;
    top: 5px;
}

#accenture-logo {
    margin: 0 33px 0 0;
}

#bet365-logo {
    margin: 0 0 0 33px;
}

#goldmansachs-logo, #americanexpress-logo {
    width: 166px;
}

#americanexpress-logo {
    margin: 0 0 0 40px;

}

#goldmansachs-logo {
    margin: 0 40px 0 0;
}

#morganstanley-logo, #giveagradago-logo {
    padding-bottom: 100px;
}

#giveagradago-logo {
    margin: 0 40px 0 0;
}

#morganstanley-logo {
    margin: 0 0 0 40px;
}

@media screen and (max-width: 1124px) {
    #about-us-content {
        padding: 0 40px;
    }
}

@media screen and (max-width: 620px) {
    #about-us-image {
        display: none;
    }

    #sponsors-text {
        margin-bottom: 0px;
    }

    .sponsor-img {
        width: 100px;
        margin-bottom: 20px !important;
    }

    #goldmansachs-logo, #americanexpress-logo {
        width: 75px;
        margin: 0 20px;
    }

    #morganstanley-logo, #giveagradago-logo {
        padding-bottom: 0;
    }
}