.job-listings-container {
    max-height: 700px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.job-listing {
    padding: 13px 10px 13px 0;
    height: 80px;
}

.selector {
    background-color: #fff;
    height: 80px;
    width: 5px;
    margin: -13px 0;
}

.dropdown {
    width: 0;
    margin: 20px 0;
}

#filterDropdown {
    left: 0;
    background: #3d3d3d;
}

#filterDropdown:hover {
    background: #4f4f4f;
}

.job-listing:hover .selector, .job-listing.selected .selector {
    background-color: #3d3d3d;
}

.job-listing.selected {
    background: #dedede;
}

.job-listing-logo {
    margin: 3px 0;
    padding: 0;
    height: 50px;
    background: no-repeat center;
    background-size: contain;
}

.job-listing-info {
    margin: 0;
}

.seperator {
    padding: 0;
    margin: 0;
}

.job-listing-title {
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
}

.job-listing-details {
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 13px;
    font-size: 13px;
    font-weight: 300 !important;
}

#job-overview-header {
    height: 100px;
}

#job-overview-header #logo {
    background: center no-repeat;
    background-size: contain;
    width: 80px;
    height: 80px;
    margin: 10px;
    padding: 0;
}

#job-overview-header #details {
    margin: 20px 0;
}

#job-overview-header .title {
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
}

#job-overview-header .details {
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 13px;
    font-size: 13px;
    font-weight: 300 !important;
}

.hide-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#apply-button, #close-button {
    margin: 25px 0;
    position: relative;
    background: #3d3d3d;
    padding: 0.85em 1.5em;
    border-radius: 0.25em;
    cursor: pointer;
    border: 0;
    color: #fff;
    font-size: 13px;
}

#apply-button:hover {
    background: #4f4f4f;
}

#close-button {
    color: inherit;
    box-shadow: inset 0 0 0 1px #e1e1e1;
    background: none;
    display: none;
}

#close-button:hover {
    background: #fafafa;
}

.job-listings-container::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #dedede;
}

.job-listings-container::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
    background-color: #dedede;
}

.job-listings-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #555;
}

/* Small laptop */

@media screen and (max-width: 992px) {
    .job-listing.selected {
        background: #fff;
    }
    #close-button {
        display: block;
    }
    #apply-button, #close-button {
        margin: 2px 0;
        left: 10px;
    }
}