.sponsor-img {
  display: block !important;
  align-self: center;
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 20px;
}

.sponsor-header,
.sponsor-profile {
  margin: 0;
}

.sponsor-header {
  cursor: pointer;
  margin-top: 20px;
  background: #efefef;
  height: 200px;
}

.sponsor-profile {
  border: 3px solid #efefef;
  padding: 50px 30px;
  text-align: left;
}