<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head.ejs %>
  <title>Gallery | UniCS</title>
  <link rel="stylesheet" type="text/css" href="css/gallery.css" />
</head>

<body>
  <div id="container">
    <% include ../partials/navbar.ejs %>
    <% include ../partials/header.ejs %>
      <div id="body">
          <section id="gallery">
              <h1>Gallery</h1>
              <div class="galleries">
                <% galleries.forEach(gallery => { %>
                  <a href="<%= gallery.link %>" target="_blank">
                    <div class="gallery" style="background-image: url('<%= gallery.thumbUrl %>')">
                      <div>
                        <h2><%= gallery.title %></h2>
                        <p><%= gallery.description %></p>
                      </div>
                    </div>
                  </a>
                <% }) %>
              </div>
            </section>
      </div>
      <% include ../partials/footer.ejs %>
  </div>
</body>

</html>