<!-- Contributors: -->
<!-- andreibelcin -->
<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head.ejs %>
    <title>HackSoc</title>
    <link rel="stylesheet" type="text/css" href="css/index.css" />
</head>

<body>
  <div id="container">
    <% include ../partials/navbar.ejs %>
      <div id="body">
        <% include ../partials/mobileMenu.ejs %>
        <header id="widescreen-large-header">
          <h1>HackSoc</h1>
          <h2>Student-led Tech Society</h2>
        </header>
      </div>
      <% include ../partials/footer.ejs %>
  </div>
</body>

</html>