<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head.ejs %>
  <title>Partners | HackSoc</title>
  <link rel="stylesheet" type="text/css" href="css/partners.min.css" />
</head>

<body>
  <div id="container">
    <% include ../partials/navbar.ejs %>
      <div id="body">
        <section id="partners">
          <h1>Partners</h1>
          <div class="sponsors">
            <% partners.forEach(partner => { %>
              <% if (partner.description) { %>
                <p><%= partner.description %></p>
              <% } %>
              <a href="<%= partner.url %>" target="_blank">
                <img class="sponsor" src="/images/partners/<%= partner.id %>.png" alt="<%= partner.id %>">
              </a>
            <% }); %>
          </div>
        </section>
      </div>
      <% include ../partials/footer.ejs %>
  </div>
</body>

</html>