<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head.ejs %>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <title>Sign up | UniCS</title>
    <link rel="stylesheet" type="text/css" href="/css/sign-up.css" />
</head>
<body>
  <div id="container">
    <% include ../partials/navbar.ejs %>
    <% include ../partials/header.ejs %>
    <div id="body">
        <section id="sign-up">
          <div class="container">
            
            <div id="form-selectors" class="row justify-content-center">
              <div id="volunteer-form-selector" class="col-md-3 form-selector smooth-transitions" onclick="showForm('volunteer')">
                <h3>Volunteer</h3>
              </div>  
              <div id="newsletter-form-selector" class="col-md-4" onclick="showForm('newsletter')">
                <h1>Newsletter</h1>
              </div>
              <div id="committee-form-selector" class="col-md-3 form-selector smooth-transitions" onclick="showForm('committee')">
                <h3>Committee</h3>
              </div>
            </div>
          </div>
          <br>
          <div class="row justify-conntent-center">
            <div id="application-form-container" class="row centered justify-content-center" style="display:none">
              <% include ../partials/applicationForm.ejs %>
            </div>
            <div id="newsletter-form-container" class="row centered justify-content-center">
              <% include ../partials/newsletterForm.ejs %>
            </div>
          </div>
        </section>
      </div>
      <% include ../partials/footer.ejs %>
  </div>
</body>
<footer>
  <script src="/js/signup.js"></script>
  <% if(locals.selectedForm && selectedForm != "newsletter") { %>
  <script>
      showForm("<%= selectedForm %>");
    </script>
  <% } %>
  <script src="/js/formValidation.js"></script>
</footer>

</html>