<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head.ejs %>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <title>Sign up | HackSoc</title>
    <link rel="stylesheet" type="text/css" href="/css/sign-up.css" />
</head>

<body>
  <div id="container">
    <% include ../partials/navbar.ejs %>
      <div id="body">
        <section id="sign-up">
          <div class="container">
            <div id="formSelectors" class="row justify-content-center">
              <div id="volunteerFormSelector" class="col-md-2 form-selector smooth-transitions"  onclick="showForm('volunteer')">
                <h3>Volunteer</h3>
              </div>
              <div id="newsletterFormSelector" class="col-md-4" onclick="showForm('newsletter')">
                <h1>Newsletter</h1>
              </div>
              <div id="committeeFormSelector" class="col-md-2 form-selector smooth-transitions"  onclick="showForm('committee')">
                <h3>Committee</h3>
              </div>
            </div>
          </div>
          <br>
          <div class="row justify-content-center">
            <div id="volunteer-form" style="display:none">
              <% include ../partials/volunteerForm.ejs %>
            </div>
            <div id="newsletter-form">
              <% include ../partials/newsletterForm.ejs %>
            </div>
            <div id="committee-form" style="display:none">
              <% include ../partials/committeeForm.ejs %>
            </div>
          </div>
        </section>
      </div>
      <% include ../partials/footer.ejs %>
  </div>
</body>
<footer>
  <script>
    function toggleCheckbox(checkboxId) {
      var checkbox = $("#" + checkboxId);
      checkbox.prop("checked", !checkbox.prop("checked"));
    }
    (function () {
      'use strict';
      window.addEventListener('load', function () {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function (form) {
          form.addEventListener('submit', function (event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  </script>
  <script src="js/signup.js"></script>
</footer>

</html>