<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head.ejs %>
  <title>Sponsors | UniCS</title>
  <link rel="stylesheet" type="text/css" href="/css/sponsors.css" />
</head>

<body>
  <div id="container">
    <% include ../partials/navbar.ejs %>
    <% include ../partials/header.ejs %>
    <div id="body">
      <section id="sponsors">
        <h1>Our Sponsors</h1>
        <br>
        <br>
        <div class="container">
          <h2>Gold</h2>
          <div id="gold-sponsors" class="row justify-content-center">
            <div class="col-md-5">
              <div class="row sponsor-header" onclick="redirectToSponsor('https://www.accenture.com/us-en/careers/students-graduates')">
                <img class="sponsor-img" src="/images/sponsors/accenture.png" alt="Accenture">
              </div>
              <div class="row sponsor-profile">
                Accenture is a leading global professional services company, providing a broad range of services and
                solutions in strategy, consulting, digital, technology and operations. Combining unmatched experience
                and specialized skills across more than 40 industries and all business functions—underpinned by the
                world’s largest delivery network—Accenture works at the intersection of business and technology to help
                clients improve their performance and create sustainable value for their stakeholders. With 449,000
                people serving clients in more than 120 countries, Accenture drives innovation to improve the way the
                world works and lives. Visit us at
                <a href="http://www.accenture.com." target="_blank" rel="noopener noreferrer">www.accenture.com</a>.
              </div>
            </div>
            <div class="col-md-5">
              <div onclick="redirectToSponsor('https://www.bet365.com/#/HO/')" class="row sponsor-header">
                <img class="sponsor-img" src="/images/sponsors/bet365.jpg" alt="bet365">
              </div>
              <!-- <div class="row sponsor-profile">
              </div> -->
            </div>
          </div>
          <h2>Silver</h2>
          <div id="silver-sponsors" class="row justify-content-center top-buffer-20">
            <div class="col-md-5">
              <div onclick="redirectToSponsor('http://gs.com/engineering')" class="row sponsor-header">
                <img class="sponsor-img" src="/images/sponsors/goldmanSachs.png" alt="Goldman Sachs">
              </div>
              <div class="row sponsor-profile">
                Goldman Sachs is a leading global investment banking, securities and investment management firm that
                provides a wide range of financial services to a substantial and diversified client base that includes
                corporations, financial institutions, governments and individuals. Engineering roles at Goldman Sachs
                include software engineering, financial modelling, infrastructure engineering and cyber security. Find
                out more at
                <a href="gs.com/engineering" target="_blank" rel="noopener noreferrer">gs.com/engineering</a>.
              </div>
            </div>
            <div class="col-md-5">
              <div onclick="redirectToSponsor('https://careers.americanexpress.com/students')" class="row sponsor-header">
                <img class="sponsor-img" src="/images/sponsors/americanExpress.png" alt="American Express">
              </div>
              <div class="row sponsor-profile">
                American Express is a global services company that provides consumers and businesses with exceptional
                access to products, insights and experiences that enrich lives and build business success. We make it
                easier, safer and more rewarding for consumers and businesses to purchase the things they need and for
                merchants to sell their goods and services through innovative payment, travel and expense management
                solutions.
              </div>
            </div>
          </div>
          <h2>Bronze</h2>
          <div id="broze-sponsors" class="row justify-content-center top-buffer-20">
            <div class="col-md-5">
              <div onclick="redirectToSponsor('https://www.giveagradago.com/')" class="row sponsor-header">
                <img class="sponsor-img" src="/images/sponsors/giveAGradAGo.png" alt="Give a grad a go">
              </div>
              <div class="row sponsor-profile">
                <p>Give A Grad A Go are the UK’s Graduate Jobs & Recruitment Experts.
                  Our team work hard to help graduates to find a job they’ll love, in a
                  company that’s going places.</p>

                <p>Our core aim is to support students and graduates as they enter the
                  world of work, and help them to secure a graduate job that’s right for
                  them.</p>

                <p>Since 2009, our team of experts have been working with some of the
                  most exciting, niche and innovative companies in London and across the
                  UK. We’ve now launched nearly 3,000 graduate careers; placing
                  candidates in a huge variety of roles, at businesses ranging from
                  London’s coolest and fastest-growing startups to global
                  corporations.</p>

                <p>Whether you are actively looking for your dream job, or you’re
                  after general careers advice – check out the jobs on our <a href="https://www.giveagradago.com/graduate-jobs">Graduate
                    Jobs</a>
                  board.</p>
              </div>
            </div>
            <div class="col-md-5">
              <div onclick="redirectToSponsor('https://www.morganstanley.com/people-opportunities/students-graduates')"
                class="row sponsor-header">
                <img class="sponsor-img" src="/images/sponsors/morganStanley.png" alt="Morgan Stanley">
              </div>
              <div class="row sponsor-profile">
                Morgan Stanley is a leading global financial services Firm providing investment banking, securities,
                wealth management and investment management services. With offices in more than 43 countries, the
                Firm's employees serve clients worldwide including corporations, governments, institutions and
                individuals. Solving complex challenges and fueling economic growth is what we do. We’re guided by our
                promise of doing first-class business in a first-class way. This means we help our clients create value
                by steering capital to fuel innovation and advance ideas that bring markets, communities and causes to
                life. We stand on 80 years of thoughtful investing, our rich heritage shaping our vision for the
                future.
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <% include ../partials/footer.ejs %>
  </div>
</body>
<script>
  function redirectToSponsor(sponsorLink) {
    window.open(sponsorLink, '_blank');
  }
</script>

</html>