<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head.ejs %>
  <title>Sponsors | HackSoc</title>
  <link rel="stylesheet" type="text/css" href="/css/sponsors.css" />
</head>

<body>
  <div id="container">
    <% include ../partials/navbar.ejs %>
    <% include ../partials/header.ejs %>
    <div id="body">
      <section id="sponsors">
        <h1>Our Sponsors</h1>
        <br>
        <br>
        <div class="container">
          <h2>Gold</h2>
          <div id="gold-sponsors" class="row justify-content-center">
            <div class="col-md-5">
              <div class="row sponsor-header">
                <img id="accenture-logo" src="images/sponsors/accenture.png" alt="Accenture">
              </div>
              <div class="row sponsor-profile">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa quia officia ut numquam a iure corrupti,
                quisquam possimus quo excepturi, saepe voluptas libero, illum quis mollitia animi et doloribus
                voluptates recusandae facilis in autem aut sit commodi. Necessitatibus repellat unde ducimus cum. At,
                amet eligendi ut omnis beatae velit maxime!
              </div>
            </div>
            <div class="col-md-5">
              <div class="row sponsor-header">
                <img id="accenture-logo" src="images/sponsors/bet365.jpg" alt="bet365">
              </div>
              <div class="row sponsor-profile">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis repudiandae amet cupiditate tempore
                magni quae quaerat nulla quibusdam. Natus sint veniam cupiditate quis laudantium. Aliquid, labore.
                Laborum veniam accusamus tempora perspiciatis cumque soluta odit! Fuga reprehenderit laudantium cumque
                officiis iure doloremque. Dignissimos et, ut velit dicta fugiat quasi eum voluptate?
              </div>
            </div>
          </div>
          <h2>Silver</h2>
          <div id="silver-sponsors" class="row justify-content-center top-buffer-20">
            <div class="col-md-5">
              <div class="row sponsor-header">
                <img id="accenture-logo" src="images/sponsors/goldmanSachs.png" alt="Goldman Sachs">
              </div>
              <div class="row sponsor-profile">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa quia officia ut numquam a iure corrupti,
                quisquam possimus quo excepturi, saepe voluptas libero, illum quis mollitia animi et doloribus
                voluptates recusandae facilis in autem aut sit commodi. Necessitatibus repellat unde ducimus cum. At,
                amet eligendi ut omnis beatae velit maxime!
              </div>
            </div>
            <div class="col-md-5">
              <div class="row sponsor-header">
                <img id="accenture-logo" src="images/sponsors/americanExpress.png" alt="American Express">
              </div>
              <div class="row sponsor-profile">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis repudiandae amet cupiditate tempore
                magni quae quaerat nulla quibusdam. Natus sint veniam cupiditate quis laudantium. Aliquid, labore.
                Laborum veniam accusamus tempora perspiciatis cumque soluta odit! Fuga reprehenderit laudantium cumque
                officiis iure doloremque. Dignissimos et, ut velit dicta fugiat quasi eum voluptate?
              </div>
            </div>
          </div>
          <h2>Bronze</h2>
          <div id="broze-sponsors" class="row justify-content-center top-buffer-20">
            <div class="col-md-5">
              <div class="row sponsor-header">
                <img id="accenture-logo" src="images/sponsors/giveAGradAGo.png" alt="Give a grad a go">
              </div>
              <div class="row sponsor-profile">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa quia officia ut numquam a iure corrupti,
                quisquam possimus quo excepturi, saepe voluptas libero, illum quis mollitia animi et doloribus
                voluptates recusandae facilis in autem aut sit commodi. Necessitatibus repellat unde ducimus cum. At,
                amet eligendi ut omnis beatae velit maxime!
              </div>
            </div>
            <div class="col-md-5">
              <div class="row sponsor-header">
                <img id="accenture-logo" src="images/sponsors/morganStanley.png" alt="Morgan Stanley">
              </div>
              <div class="row sponsor-profile">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis repudiandae amet cupiditate tempore
                magni quae quaerat nulla quibusdam. Natus sint veniam cupiditate quis laudantium. Aliquid, labore.
                Laborum veniam accusamus tempora perspiciatis cumque soluta odit! Fuga reprehenderit laudantium cumque
                officiis iure doloremque. Dignissimos et, ut velit dicta fugiat quasi eum voluptate?
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <% include ../partials/footer.ejs %>
  </div>
</body>

</html>