<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head.ejs %>
  <title>Sponsors | UniCS</title>
  <link rel="stylesheet" type="text/css" href="/css/sponsors.css" />
</head>

<body>
  <div id="container">
    <% include ../partials/navbar.ejs %>
    <% include ../partials/header.ejs %>
    <div id="body">
      <section id="sponsors">
        <h1>Our Sponsors</h1>
        <br>
        <br>
        <div class="container">
          <h2>Gold</h2>
          <div id="gold-sponsors" class="row justify-content-center">
            
            <div class="col-md-5">
              <div onclick="redirectToSponsor('https://www.bet365.com/#/HO/')" class="row sponsor-header">
                <img class="sponsor-img" src="/images/sponsors/bet365.jpg" alt="bet365">
              </div>
              <!-- <div class="row sponsor-profile">
              </div> -->
            </div>
          </div>
          <h2>Silver</h2>
          <div id="silver-sponsors" class="row justify-content-center top-buffer-20">
            <div class="col-md-5">
              <div onclick="redirectToSponsor('https://www.gradtouch.com/register?id=TECH-SOCIETY&src=')" class="row sponsor-header">
                <img class="sponsor-img" src="/images/sponsors/gradtouch.png" alt="Goldman Sachs">
              </div>
              <div class="row sponsor-profile">
                  We are GradTouch. The innovative job advertising platform for graduate employers of all sizes. 
                  Our employer profiles showcase your company ethos and culture, giving your employer brand the 
                  platform it needs to attract the best and brightest in graduate talent.
                  We reach 75% of the graduate market every week across our combined digital platforms. Each 
                  month, we reach 3 million 18-24 year-olds across Facebook, Instagram and Twitter, making us 
                  the UK’s largest graduate social network.
                <a href="https://www.gradtouch.com/" target="_blank" rel="noopener noreferrer">gradtouch.com</a>.
              </div>
            </div>
            
          </div>
          <h2>Bronze</h2>
          <div id="broze-sponsors" class="row justify-content-center top-buffer-20">
              <div class="col-md-5">
                <div onclick="redirectToSponsor('https://careers.americanexpress.com/students')"
                  class="row sponsor-header">
                  <img class="sponsor-img" src="/images/sponsors/americanExpress.png" alt="American Express">
                </div>
                <div class="row sponsor-profile">
                  American Express is a global services company that provides consumers and businesses with exceptional
                  access to products, insights and experiences that enrich lives and build business success. We make it
                  easier, safer and more rewarding for consumers and businesses to purchase the things they need and for
                  merchants to sell their goods and services through innovative payment, travel and expense management
                  solutions.
                </div>
              </div>
            
            <div class="col-md-5">
              <div onclick="redirectToSponsor('https://www.morganstanley.com/people-opportunities/students-graduates')"
                class="row sponsor-header">
                <img class="sponsor-img" src="/images/sponsors/morganStanley.png" alt="Morgan Stanley">
              </div>
              <div class="row sponsor-profile">
                Morgan Stanley is a leading global financial services Firm providing investment banking, securities,
                wealth management and investment management services. With offices in more than 43 countries, the
                Firm's employees serve clients worldwide including corporations, governments, institutions and
                individuals. Solving complex challenges and fueling economic growth is what we do. We’re guided by our
                promise of doing first-class business in a first-class way. This means we help our clients create value
                by steering capital to fuel innovation and advance ideas that bring markets, communities and causes to
                life. We stand on 80 years of thoughtful investing, our rich heritage shaping our vision for the
                future.
              </div>
            </div>
          </div>
          <div id="broze-sponsors" class="row justify-content-center top-buffer-20">
              <div class="col-md-5">
                <div class="row sponsor-header"
                  onclick="redirectToSponsor('https://www.bloomberg.com/europe')">
                  <img class="sponsor-img" src="/images/sponsors/bloomberg.png" alt="Bloomberg">
                </div>
                <div class="row sponsor-profile">
                  Bloomberg is a major global provider of 24-hour financial news and information, including 
                  real-time and historic price data, financials data, trading news, and analyst coverage, as 
                  well as general news and sports. Its services, which span its own platform, television, radio, 
                  and magazines, offer professional analysis tools for financial professionals.
                  <a href="https://www.bloomberg.com/europe" target="_blank" rel="noopener noreferrer">www.bloomberg.com</a>.
                </div>
              </div>
            
          </div>
        </div>
      </section>
    </div>
    <% include ../partials/footer.ejs %>
  </div>
</body>
<script>
  function redirectToSponsor(sponsorLink) {
    window.open(sponsorLink, '_blank');
  }
</script>

</html>